@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "ProximaNova";
  src: url("./fonts/ProximaNova.otf") format("opentype");
}

body {
  margin: 0;
  background-color: #282c34;
  font-family: "ProximaNova", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.color {
  background-color: #d4dfef;
  background-color: #424869;
}



